.clearfix{
  zoom:1;
  &:before, &:after {
    content: "";
    display: table;
    height: 0;
  }

  &:after {
    clear: both;
  }
}

.pagination-border() {
  padding: 45px @container-padding--mobile;
  border-top: 2px solid @bg-color-grey;
  border-bottom: 2px solid @bg-color-grey;
}
