.clearfix(){
  &::after {
    content:"";
    display:table;
    clear: both;
    height: 0;
  }
}

.pagination-border() {
  padding: 45px @container-padding--mobile;
  border-top: 2px solid @bg-color-grey;
  border-bottom: 2px solid @bg-color-grey;
}
