@font-face {
  font-family: 'sedona-webfont';
  src: url('../font/sedona-webfont.eot?85830670');
  src:
    url('../font/sedona-webfont.eot?85830670#iefix') format('embedded-opentype'),
    url('../font/sedona-webfont.woff?85830670') format('woff'),
    url('../font/sedona-webfont.ttf?85830670') format('truetype'),
    url('../font/sedona-webfont.svg?85830670#sedona-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sedona-webfont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap*/
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric*/
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size*/
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);*/
}

.icon-facebook:before { content: '\66'; } /* 'f'*/
.icon-menu:before { content: '\6d'; } /* 'm' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-youtube:before { content: '\75'; } /* 'u'*/
.icon-close:before { content: '\78'; } /* 'x'*/
