@mobile-viewport: 320px;

@font-family: 'Open Sans', Helvetica, Arial, sans-serif;

@font-size: 12px;


@font-size--h1: floor((@font-size * 2));
@font-size--h2: floor((@font-size * 1.5));

@text-color: #333;
@text-color--alternate: #fff;
@text-color--h1: #000;
@text-color--h2: @text-color--h1;

@bg-color-blue: #81b3d2;

// @line-height
// @font-weight (text, h1, h2)
