@mobile-viewport: 320px;

@font-family: 'Open Sans', Helvetica, Arial, sans-serif;

@font-size: 10px;

@font-size--text: 1.4rem;
@font-size--h1: 2rem;
@font-size--h2: 1.6rem;

@text-color: #333;
@text-color--alternate: #fff;
@text-color--h1: #000;
@text-color--h2: @text-color--h1;

@bg-color-blue: #81b3d2;
@border-color--menu: #AFD4EA;

@font-weight: 400;
@font-weight--h1: 700;
@font-weight--h2: @font-weight--h1;

// @line-height
// @font-weight (text, h1, h2)
