.btn {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: @text-color--alternate;
  background-color: @bg-color-blue;

  &--big {
    padding: 19px 47px;
    font-size: @font-size--h2;
  }
}
