.btn {
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  text-decoration: none;
  color: @text-color--alternate;
  background-color: @bg-color-blue;
  border: none;
  text-transform: inherit;
  font-size: @font-size--button;
  font-weight: @font-weight--h1;
  line-height: @line-height;
  cursor: pointer;
  padding: 19px 0;
  width: 100%;
  outline: none;

  &:hover {
    background-color: @bg-color-blue--darker;
  }

  &:active {
    background-color: @bg-color-blue--darkest;
    color: @text-color--blue;
  }

  &--big {
    max-width: 458px;
  }

  &--modal {
    max-width: 270px;
  }

  &--grey {
    background: @bg-color-grey--light;
    color: @bg-color-grey--dark;

    &:hover {
      background: @bg-color-grey--disabled;
    }

    &:active {
      background: @bg-color-grey--down;
      color: @bg-color-grey--counter;
    }
  }

  &--disabled {
    background: @bg-color-grey--disabled;
    color: white;

    &:hover,
    &:active {
      background: @bg-color-grey--disabled;
      color: white;
    }
  }

  &--in-progress {
    animation-name: coloring;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  &--drag {
    display: none;
  }


//========================== desktop ========================


  @media(min-width: @screen-lg) {

    &--grey {
      display: none;
    }

    &--drag {
      display: inline-block;
    }
  }
}
