.page-container {
  margin: 0 auto;
  width: @mobile-viewport;
}

html {
  font-size: @font-size;
  box-sizing: border-box;
}

body {
  font-family: @font-family;
  text-transform: uppercase;
  text-align: center;
  color: @text-color;
}

h1 {
  font-size: @font-size--h1;
  color: @text-color--h1;
}

h2 {
  font-size: @font-size--h2;
  color: @text-color--h2;
}

.feature {
  color: @text-color--h1;
  font-size: @font-size--h2;
}
