.copyright {
  padding: 7px 0 35px;

  a {
    text-decoration: none;
    color: @text-color;

    &::after {
      content: '';
      position: relative;
      top: 17px;
      right: -11px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background: url("../img/htmlacademy.svg") no-repeat;
      background-size: 70%;
    }
  }


//========================== tablet ========================



  @media(min-width: @screen-md) {
    width: 30%;
  }


//========================== desktop ========================


  @media(min-width: @screen-lg) {
    padding: 7px 42px 35px;
    text-align: right;
  }
}
