.description {
  padding: 40px @container-padding--mobile 5px;

  &--feedback {
    padding: 74px @container-padding--mobile 10px;
  }

  &--blog {
    h1 {
      font-size: 3rem;
    }

    padding-bottom: 24px;
  }
}
