.description {
  padding: 42px @container-padding--mobile 15px;

  p {
    margin: 0 0 22px;
  }

  &--feedback {
    padding: 77px @container-padding--mobile 0;
  }

  &--blog {
    h1 {
      font-size: 3rem;
    }
  }
}
