.feedback {
  padding: 0 0 16px;

  &__fieldset {
    padding: 24px @container-padding--mobile;
    border-top: 1px solid @border-color--reason;
    text-align: left;
  }

  &__fieldset-name {
    text-align: center;
  }

  &__field {
    font-weight: 700;

    label {
      padding: 0 0 0 22px;
      font-weight: 400;
      position: relative;
    }

    .required-field::after {
      content: '*';
      color: red;
      position: absolute;
      top: -4px;
      right: -9px;
    }

    input:not([type="radio"]):not([type="checkbox"]) {
      display: block;
      width: 100%;
      padding: 22px 0 22px 22px;
      margin: 14px 0 23px;
      background: @bg-color-grey;
      border: none;
    }

    input[type="date"]#departure {
      border: 2px solid @bg-color-grey--dark;
    }

    &--radio {
      padding: 7px 0;

      input {
        display: none;
      }

      label {
        padding: 0;
      }

      input + label span {
        display:inline-block;
        vertical-align:middle;
        width:56px;
        height:56px;
        margin:-1px 4px 0 0;
        background: @bg-color-grey;
        border-radius: 50%;
        cursor:pointer;
      }

      input:checked + label span {
        background: @text-color;
        border: 17px solid @bg-color-grey;
      }
    }

    &--counter {

    }

    &--check {

    }

    &--readonly {

    }
  }

  &__gallery {

  }

  &__photo {

  }

  &__submit {

  }
}
