.feedback {
  padding: 0 0 16px;

  &__fieldset {
    padding: 24px @container-padding--mobile;
    border-top: 1px solid @border-color--reason;
    text-align: left;
  }

  &__fieldset-name {
    text-align: center;
  }

  &__field {
    font-weight: 700;

    label {
      padding: 0 0 0 22px;
      font-weight: 400;
      position: relative;
    }

    .required-field::after {
      content: '*';
      color: red;
      position: absolute;
      top: -4px;
      right: -9px;
    }

    input:not([type="radio"]):not([type="checkbox"]) {
      display: block;
      width: 100%;
      padding: 22px 0 22px 22px;
      margin: 14px 0 23px;
      background: @bg-color-grey;
      border: none;
    }

    input[type="date"]#departure {
      border: 2px solid @bg-color-grey--dark;
    }

    &--radio {
      padding: 7px 0;

      input[type="radio"] {
        display: none;
      }

      label {
        padding: 0;
        cursor:pointer;
      }

      input + label span {
        display:inline-block;
        vertical-align:middle;
        width:56px;
        height:56px;
        margin:-1px 4px 0 0;
        background: @bg-color-grey;
        border-radius: 50%;
      }

      input:checked + label span {
        background: @text-color;
        border: 17px solid @bg-color-grey;
      }
    }

    &--counter {

    }

    &--check {
      margin-bottom: 30px;
      &:not(:last-child) {
        margin-bottom: 65px;
      }

      label {
        padding-left: 76px;
        font-weight: 700;
        cursor:pointer;
      }

      input[type="checkbox"] {
        display: none;
      }

      label::before {
        content: '';
        position: absolute;
        top: -20px;
        left: 0;
        z-index: 1;
        width: 56px;
        height: 56px;
        border-radius: 6px;
        background: @bg-color-grey;
      }

      label::after {
        content: '';
        position: absolute;
        visibility: hidden;
        top: -10px;
        left: 10px;
        z-index: 1;
        width: 40px;
        height: 20px;
        border: 2px solid @text-color--h1;
        border-top-style: none;
        border-right-style: none;
        transform: rotate(-45deg);
      }

      input[type="checkbox"]:checked ~ label::after {
        visibility: visible;
      }
    }

    &--readonly {

    }
  }

  &__gallery {
    .clearfix();
  }

  &__upload {
    padding-bottom:55px;

    input[type="file"] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

  }

  &__photo {
    position: relative;
    float: left;
    padding-bottom: 35px;

    &:not(:nth-child(3n)){
      padding-right: 35px;
    }

    &::before {
      content: "X";
      position: absolute;
      left: 20px;
      top: -20px;
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 5px;
      color: @bg-color-grey--dark;
      background: @bg-color-grey;
      border-radius: 50%;
    }

  }

  &__submit {
    padding: 0 @container-padding--mobile;
  }
}
