.info-list {
  padding: 30px 45px 1px 0;

  &__item {
    text-align: left;
    margin-bottom: 40px;
    padding: 10px 0 0 45px;
    position: relative;
    background-repeat: no-repeat;
    background-position: left 15px;

    &--house {
      background-image: url("../img/info-house.svg");
      background-size: 37px 37px;
    }

    &--burger {
      background-image: url("../img/info-burger.svg");
      background-size: 37px 35px;
    }

    &--present {
      background-image: url("../img/info-present.svg");
      background-size: 32px 38px;
    }
  }
}
