.main-nav {
  position: relative;

  & ul {
    list-style: none;
    padding: 0;
  }

  &__item {
    background-color: @bg-color-blue;
    border-bottom: 2px groove @border-color--menu;

    &:last-child {
      border-bottom: 1px groove @border-color--menu;
    }

    & a {
      display: block;
      padding: 20px 0;
      color: @text-color--alternate;
      text-decoration: none;
    }
  }

  .icon-close {
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 10;
    color: @text-color--alternate;
    font-size: 2.2rem;
  }

  .icon-menu {
    position: absolute;
    right: 15px;
    bottom: 23px;
    z-index: 10;
    color: @bg-color-blue;
    font-size: 3.0rem;
  }
}
