.pager {

  padding: 45px @container-padding--mobile;
  border-top: 2px solid @bg-color-grey;
  border-bottom: 2px solid @bg-color-grey;

  .clearfix();

  ul {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    text-decoration: none;
    color: white;
    font-weight: @font-weight--h1;
    background-color: @bg-color-blue;
    display: block;
    float: left;
    width: 58px;
    margin:0 16px 16px 0;
    padding: 21px 0;

    li:nth-child(4n) & {
      margin:0 0 16px 0;
    }

    &--active {
      background-color: @bg-color-grey;
      color: @text-color--h1;
    }
  }
}
