.pager {
  .pagination-border();

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 321px;
    list-style-type: none;
    padding: 0;
  }

  &__item {
    text-decoration: none;
    color: white;
    font-size: @font-size--button;
    font-weight: @font-weight--h1;
    background-color: @bg-color-blue;
    display: block;
    width: 58px;
    margin: 0 0 17px 0;
    padding: 15px 0;


    &--active {
      background-color: @bg-color-grey;
      color: @text-color--h1;
    }
  }
}
