.page-footer {
  display: flex;
  flex-direction: column;
  padding: 29px 0 36px 0;


//========================== tablet ========================


  @media(min-width: @screen-md) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 17px;
  }


//========================== desktop ========================


  @media(min-width: @screen-lg) {

  }
}
