.poster {
  .poster-bkg(50%, 73%, 340px, 40px, 80px);

  &--big {
    .poster-bkg(50%, 0, 768px, 47px, 49px);
  }

  img {
    display: block;
    margin: 0 auto;
  }

  &__welcome {
    padding-bottom: 60px;
  }

  &__sedona {
    padding-bottom: 67px;
  }
}

.poster-bkg(@x, @y, @bg-size, @padding-top, @padding-bottom) {
  background:
    url("../img/white-triangles-aside.png") 50% 100% no-repeat,
    url("../img/sedona-poster.jpg") @x @y no-repeat,
    @bg-color-blue--light;
  background-size:
    auto,
    @bg-size,
    auto;
  padding-top: @padding-top;
  padding-bottom: @padding-bottom;
}
