.reason {
  padding: 38px @container-padding--mobile 40px;

  p {
    line-height: @line-height--alternate;
  }

  &__number {
    margin: 9px 0 15px;
  }

  &--plain {
    padding: 26px 0;

    &:not(:last-child) {
      border-bottom: 1px solid @border-color--reason;
    }
  }



  @media(min-width: @screen-md) and (max-width: @screen-lg) {
    width: 33%;
    padding: 45px 49px 1px;

    .feature {
      font-size: @font-size--button;
      line-height: 1.24;
    }

    &__number {
      margin: 9px 0 22px;
    }
  }
}
