.reason-container {
  background-color: @bg-color-blue;
  color: @text-color--alternate;

  &--angled {
    background: @bg-color-blue url("../img/white-triangle-center.png") 50% 0 no-repeat;
  }

  &--alternative-bg {
    padding: 0 @container-padding--mobile;
    background-color: @bg-color-grey;
    color: @text-color;
  }

  &__photo-wrapper {
    margin: 0 auto;
    width: 320px;
    height: 256px;
    overflow: hidden;
    position: relative;
  }

  &__photo {
    width: 200%;
    height: 100%;
    position: absolute;
    left: -52.5%;

    &--left-25 {
      left: -25%;
    }

    img {
      position: absolute;
      width: auto;
      height: 100%;
      left: 0; top: 0; bottom: 0; right: 0;
      margin: auto;
      background: @bg-color-brown;
    }
  }
}
