.reason-container {
  background-color: @bg-color-blue;
  color: @text-color--alternate;

  &--angled {
    background: @bg-color-blue url("../img/white-triangle-center.png") 50% 0 no-repeat;
  }

  &--white-bg {
    background-color: inherit;
    color: @text-color;
  }

  &__photo {

    img {
      display: block;
    }

  }
}
