.social {

  margin: 0 auto 13px;

  &__btn {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    text-decoration: none;
    background: @bg-color-blue;
    color: @text-color--alternate;
    font-size: 2.2rem;
    padding: 10px 0;
  }



  @media(min-width: @screen-md) and (max-width: @screen-lg) {
    width: 30%;
    margin: 0 auto 36px;
  }
}
