.social {

  margin: 0 auto 40px;

  &__btn {
    display: inline-block;
    vertical-align: middle;
    height: 46px;
    width: 48px;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    &--twitter {
      background: @bg-color-blue url("../img/social-sprite.png") 15px 50% no-repeat;
    }

    &--facebook {
      background: @bg-color-blue url("../img/social-sprite.png") 50% 50% no-repeat;
    }

    &--youtube {
      background: @bg-color-blue url("../img/social-sprite.png") (100%+18px) 50% no-repeat;
    }
  }
}
